server:
    port: 8091
    
spring:
 datasource:
   url: jdbc:mysql://localhost:3306/userDB
   username: root
   password: Tasnim2017#
   driver-class-name: com.mysql.cj.jdbc.Driver
   hikari.connection-timeout: 30000
 jpa:
   hibernate:
     ddl-auto: update
   show-sql: true
   properties:
     hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
 application:
   name: usermanagement
   Desc: manage solide users
 
 main:
   web-application-type: servlet   

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
jwt:
  secret: 1234567890
  expiration: 3600000 # 1 hour in milliseconds (optional)


    


